.navigation__list {
  list-style: none;
}

.navigation__item{

}

.navigation__link {
  color: var(--color-text-primary);
  text-decoration: none;
}

.navigation__link:hover {
  text-decoration: underline;
}