.post {
  background: #edf7fa;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.post__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
}

.post__link {
  color: var(--color-view-all-link);
  font-weight: 600;
  line-height: 40px;
  text-decoration: none;
}

.post__link:hover {
  text-decoration: underline;
}

.post__list{
  display: flex;
  gap: 24px;
}

.post__item{
  border: 2px dashed teal;
  background-color: white;
  width: 438px;

}

.article__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.5;
}

.article__date {
  color: var(--color-text-secondary);
  font-weight: 500;
  font-size: 16px;
}

.article__text {}